<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Main page</title>
	</head>
	<body>
		<h2>Send name</h2>
		<form method="post" action="/">
			<input name="name" placeholder="Enter your name" />
			<button type="submit">Send name</button>
		</form>
		<hr />
		<div>
			<a href="/about">Go to about page</a>
		</div>
		<div>
			<a href="/contact">Go to contact page</a>
		</div>
	</body>
</html>
